@page
@using Amina.IdentityServer.Pages
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h1 class="display-4">Welcome</h1>

<p>
    This project demonstrates using Finbuckle.MultiTenant with ASP.NET Core Identity. See the
    <a href="https://www.finbuckle.com/MultiTenant/Docs/Identity">documentation</a> for more details.
</p>

@if (Model.TenantInfo is null)
{
    <h2>There is no tenant selected. Use the menu bar to select a tenant.</h2>

    <p>
        You can register, login, logout, and manage account via the default Identity UI within each tenant. Note that
        even with a shared database a user can register with each tenant and will maintain separate login sessions.
        Finbuckle.MultiTenant makes it appear like separate databases to Identity.
    </p>
}
else
{
    <h2>@Model.TenantInfo.Name</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="w-25">Property</th>
            <th>Value</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>@nameof(Model.TenantInfo.Id)</td>
            <td>@Model.TenantInfo.Id</td>
        </tr>
        <tr>
            <td>@nameof(Model.TenantInfo.Identifier)</td>
            <td>@Model.TenantInfo.Identifier</td>
        </tr>
        <tr>
            <td>@nameof(Model.TenantInfo.Name)</td>
            <td>@Model.TenantInfo.Name</td>
        </tr>
        <tr>
            <td>@nameof(Model.TenantInfo.ConnectionString)</td>
            <td>@Model.TenantInfo.ConnectionString</td>
        </tr>
        </tbody>
    </table>
}